<!-- _header.ejs -->
<header>
    Page header
    <ul>
        <% if (locals.user) { %>
            <li>
                <%= locals.user.name %>
            </li>
            <li>
                <a href="/users/sign_out"> Sign Out</a>
            </li>
            <% } else { %>
                <li>
                    <a href="/users/sign_up">Sign up</a>
                </li>
                <li>
                    <a href="/users/sign_in">Sign in</a>
                </li>
                <% } %>
    </ul>
</header>