<nav>
  <div class="container">
    <h2>Varta Chat</h2>
    <% if (!locals.user) { %>
      <div class="userNotLogged">
        <div class="sign-up">
          <button class="btn btn-primary">
            <a href="/users/sign_up">Sign Up</a>
          </button>
        </div>
        <div class="sign-in">
          <button class="btn btn-primary">
            <a href="/users/sign_in">Sign In</a>
          </button>
        </div>
      </div>

      <%}%>

        <% if (locals.user) { %>
          <div class="search-bar">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="search">
          </div>


          <div class="create">
            <a href="/"><button class="btn btn-primary"> Home</button></a>
            <div class="profile-photo">
              <img src="<%= user.avatar %>" alt="<%= user.name %>">
            </div>
            <div class="sign-out">
              <button class="btn btn-primary">
                <a href="/users/sign_out">Sign Out</a>
              </button>
            </div>
          </div>
          <% } %>
  </div>

</nav>