<nav>
  <div class="container">
    <h2>Varta Chat</h2>
    <% if (!locals.user) { %>
      <div class="sign-up">
        <a href="/users/sign_up">Sign Up</a>
      </div>
      <div class="sign-in">
        <a href="/users/sign_in">Sign In</a>
      </div>
      <%}%>

        <% if (locals.user) { %>
          <div class="search-bar">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="search">
          </div>

          <div class="chat-box">
            <a href="/chatBox">ChatBox</a>
          </div>
          <div class="create">
            <label class="btn btn-primary" for="creat-post">Create</label>
            <div class="profile-photo">
              <img src="<%= user.avatar %>" alt="<%= user.name %>">
            </div>
            <div class="sign-out">
              <a href="/users/sign_out">Sign Out</a>
            </div>
          </div>
          <% } %>
  </div>

</nav>