<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styles.css">
<title>Chat Box</title>
<link rel="stylesheet" href="/css/chatBox.css">



<body>
    <div class="chat-container">
        <div class="chat-header">
            <h2>Chat Box</h2>
        </div>
        <ul id="chat-messages-list">

            <li class="self-messages message"></li>
            <li class="other-messages message"></li>
        </ul>

        </ul>
        <div id='chat-message-input-container'>
            <input type="text" id="message-input" placeholder="Type your message">
            <button id="send-button">Send</button>
        </div>
    </div>


</body>