<!-- views/custom_layout.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>

    <%- style%>
        <!-- Your HTML head content here -->
</head>

<body>
    <!-- The content of your EJS file goes here, without the header -->
    <%- body %>
</body>

</html>