
    
    <h1>Home page</h1>

<section id="feed-post">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="post">
        <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here...."></textarea>
        <input type="submit" value="post">
    </form>
    <div id="posts-list-container">
        <ul>
            <% for (post of posts){%>
                <li>
                    <%= post.content%>
                    <small>
                        <%=post.user.name%>
                    </small>
                </li>

            <%}%>
        </ul>
    </div>
</section>