<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title%>
    </title>
   <link rel="stylesheet" href="/css/layout.css">
   <%- style %>
</head>
    

<body>
    <%- include('_header'); %>
 
 <!-- it will contain the varibale part -->
   <%- body %> 


   
</body>

</html> 