<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email Sent</title>
    <link rel="stylesheet" type="text/css" href="/css/passwordResetEmailSent.css">
</head>

<body>
    <div class=" success-message">
        <h1>Password Reset Email Sent</h1>
        <p>An email with instructions to reset your password has been sent to your inbox.</p>
        <a href="/">Return to Home</a>
    </div>
</body>

</html>