<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/resetPassword.css">
</head>

<body>
    <div class="reset-password-container">
        <h1>Reset Password</h1>
        <form method="POST" action="/users/reset-password" class="reset-password-form">
            <input type="hidden" name="token" value="<%= token %>">
            <label for="newPassword" class="form-label">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" class="form-input" required>
            <button type="submit" class="form-button">Reset Password</button>
        </form>
    </div>
</body>

</html>