<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/css/sign_up.css">

<div class="body">
    <div class="container">
        <div class="login-box">
            <h2>Sign Up</h2>
            <form action="/users/create" method="Post">

                <div class="input-box">
                    <input type="text" name="name" required>
                    <label>Name</label>
                </div>
                <div class="input-box">
                    <input type="email" name="email" required>
                    <label>Email</label>

                </div>
                <div class="input-box">
                    <input type="password" name="password" required>
                    <label>Password</label>

                </div>
                <div class="input-box">
                    <input type="password" name="ConfirmPassword" required>

                    <label>Confirm Password</label>

                </div>
                <div class="forget-password">
                    <a href="auth/google">Sign in with Google</a>
                </div>

                <button type="submit" class="btn">Sign Up</button>


            </form>


        </div>
    </div>
    <span style="--i:0;"></span>
    <span style="--i:1;"></span>
    .
    .
    <span style="--i:49;"></span>
</div>