<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <form action="/users/create" method="post">
        <div class="container">
            <div class="form signup">
                <h2>Sign up</h2>
                <div class="inputbox">
                    <input type="text" required="required" name="name">
                    <i class="fa-regular fa-user fa-beat"></i>
                    <span>username</span>
                </div>
                <div class="inputbox">
                    <input type="email" name="email" required="required">
                    <i class="fa-regular fa-envelope"></i>
                    <span>email address</span>
                </div>
                <div class="inputbox">
                    <input type="password" name="password" required="'required">
                    <i class="fa-solid fa-lock"></i>
                    <span> create password</span>
                </div>
                <div class="inputbox">
                    <input type="password" name="password" required="'required">
                    <i class="fa-solid fa-lock"></i>
                    <span> confirm password</span>
                </div>
                <div class="inputbox"></div>
                <input type="submit" name="submit" value="Create Account">
            </div>
            <p>Already Account ? / <a href="#" class="login">Login</a></p>
        </div>
    </form>
</body>

</html>