<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/css/sign_in.css">



<form action="/users/create-session" method="post">
    <div class="form signin">
        <div class="left">
            <img src="/images/image.jpg" alt="image not found">
            <p class="create"><a href="auth/google">Sign in with Google</a></p>
        </div>
        <div class="right">
            <h1>Log In</h1>
            <div class="inputbox">
                <i class="fa-regular fa-user fa-beat"></i>
                <input placeholder="Your Email" type="email" name="email" required="required">
            </div>
            <div class="inputbox">
                <i class="fa-solid fa-lock"></i>
                <input placeholder="Password" type="password" name="password" required="required">
            </div>
            <div class="loginBtn">
                <input type="submit" value="Login">
            </div>
        </div>
    </div>
</form>