.nav-item {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 3vw;
    z-index: 2;
}
.nav-item img {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
}

.navbar a{
    color: #1f293a;
}

.custom-navbar-color {
    background-color: #0ef;
} 
.navbar-brand a{
    font-size: 30px;
}
