*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman';
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    padding: 10px;
    width: 100vw;
    z-index: 2;
}

.nav-brand h1 {
    font-size: 24px;
    align-items: center;
    height: 100%;
    margin: 0px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}


.nav-item {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 3vw;
}

.user-name a {
    text-decoration: none;
}

.nav-item img {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.sign-out {
    background-color: #ff6347;
    color: white;
}

.sign-out a {
    text-decoration: none;
    color: white;
}

.sign-out:hover {
    background-color: #d14830;
}

.sign-up,
.sign-in {
    background-color: #3498db;
    color: white;
}

.sign-up:hover,
.sign-in:hover {
    background-color: #2980b9;
    color: white;
}
.nav-item a{
    text-decoration: none;
    color: black;
}