* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: 'border-box';
    background-color: #1f293a;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #1f293a;
    margin-top: 10px;
    padding: 1px;
    width: 98vw;
}

.nav-brand h1 {
    font-size: 24px;
    color: #0ef;
    align-items: center;
    height: 100%;
    margin: 0px;
    margin-left: 5px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.nav-item {
    list-style: none;
    display: flex;
    align-items: center;
}

.user-name a {
    text-decoration: none;
    color: #0ef;
}

.nav-item img {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.sign-out {
    background-color: #1f293a;
    ;
    color: white;
}

.sign-out a {
    text-decoration: none;
    color: #0ef;
}

.sign-out:hover {
    background-color: #2980b9;
}

.sign-up,
.sign-in {
    background-color: #1f293a;

}

.sign-in a,
.sign-up a {
    color: #0ef;
    text-decoration: none;
}

.sign-up:hover,
.sign-in:hover {
    background-color: #2980b9;
}