@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,100&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    font-family: 'Times New Roman', Times, serif;
}

.friends-container {
    border-radius: 5px;
    width: 20vw;
    position: absolute;
    right: 2vw;
    margin-top: 33vh;
    color: white
}

.friends-list {
    list-style-type: none;
    padding: 10px;
}

.friend {
    margin-bottom: 5px;
}

.friend a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.friend a:hover {
    color: #007bff;
}

.friend_block {
    font-size: 1.2rem;
    border: none;
    height: 1vh;
    width: 15vw;
    padding: 2vh;
    display: flex;
    align-items: center;
    margin: 3vh 3vh 3vh 1vh;
    justify-content: left;
}

.friend_block a {
    color: white;
}

.friend_block img {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    position: absolute;
    left: 0vh;
}

.friend_block a {
    margin-left: 3vw;
    text-decoration: none;
}

.LaunchChatPageButton i {
    font-size: 3rem;
    position: fixed;
    right: 5vw;
    bottom: 10vh;
}

.home-container {
    background-color: #84a4e9;
}