.home-container {
    display: flex;
    justify-content: center;
    background-color: #1f293a;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 27vw;
    margin-top: 2vw;
    position: sticky;
}

.friends-container h1 {
    margin-left: 100px;
}

.friends-container {

    height: 60vh;
    width: 25vw;
    overflow: auto;
    background-color: #00cce1;
    border-radius: 10px;
    position: fixed;
    right: 3vw;
    top: 15vh
}

.friends-container ul {
    list-style: none;
}

.friends-container ul a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #1f293a;
    margin-left: 20px;
    font-family: 'Poppins';
}

.friends-container::-webkit-scrollbar {
    display: none;
}

.friend_block {
    height: 80px;
}

.friend_block img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.createPost {
    position: fixed;
    bottom: 26vh;
    right: 1vw;
}

#feed-posts {

    margin-top: 8vh;
}