*{
    border:none;
}
i{
    border:none;
}
#new-post-form {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    right: 2vw;
    width: 20vw;
    margin-top: 4vh;
    box-shadow: 0px 0px 5px  white;
}

#new-post-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    resize: vertical;
}

#new-post-form input[type="submit"] {
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

#posts-list-container li {
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #7587ee;
    box-shadow: 0 2px 10px;
}

posts-list-container li:hover {
    scale: 1.5;
}

#posts-list-container p {
    margin-bottom: 10px;
}

#posts-list-container small {
    color: #888;
}

.post-comments {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #cecfe1;
    box-shadow: 0px 0px 5px  white;
}

/* .post-comments input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: #8d92e5;
} */

.post-comments input[type="submit"] {
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.post-comments-list {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    margin-left: 5vw;
}

.post-comments-list ul {
    list-style: none;
    padding: 0;
}

.post-comments-list p {
    margin-bottom: 10px;

}




#posts-list-container {
    margin: 0 auto;
    max-width: 600px;
    /* background-color:#101010; */
}


#feed-posts {
    padding: 20px;
    width: 40vw;
}


.comment-label {
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 20px;
}






#new-post-form textarea{
    
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box;
    background-color: white;
    font-size: 1rem;
}
.post-comments input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box;
    background-color: #8d92e5;
    color: white;
    font-size: 17px;
}

#new-post-form input[type="submit"]{
    color: white;
    background-color: #101010;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.post-comments input[type="submit"] {
    color: white;
    background-color: #101010;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.post-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.post-header p {
    margin-right: 5px;
}

.user-name {
    font-weight: bold;
    margin-right: 5px;
    color: black;
}


.delete-container {
    text-align: right;
    margin-top: 10px;
}

.delete-button{
    position: relative;
    margin-left: 37vw;
}

.delete-button i{
    cursor: pointer;
    font-size: 20px;
    color: #c1d5e0;
    background-color: #7587ee;
}


.delete-button:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.comment_box {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 10vw;
    margin-top: 3vh;
}

.content {
    padding-top: 10vh;
}

@media (max-width: 750px) {
    .navbar {
        width: 97vw;
    }
}

.post-image img{
    height: 60px;
    width: 60px;
    margin-right: 1vw;
    border-radius: 50%;
}

.comment-Button{
    margin-left: 5px ;
    border-radius: 5px;
}

.comment-Button img{
    height:  25px;
    padding: 0.5rem;   
    background-color: white;
}

.comment_Section{
    margin-left: 5vw;
    display: flex;
}


.comment_wrapper{
    display: flex;
    flex-direction: row;
}

.image-right{
    display: flex;
    flex-direction: column;
}

.row1{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

.users-comment{
    margin-left: 8vw;
}

.comment-react-nav-bar{
    margin-left: 5vw;
    display: flex;
    margin-top: 5px;
}

.comment-react-nav-bar b{
    background-color: black;
}

.comment-react-nav-bar i{
    
    padding: 0.5rem 0rem 0rem 2rem;
    background-color: #cecfe1;
    padding: 0.6rem;
    color: #3789b7;
    font-size: 28px;
}



.comment_Section

.post-button{
    box-shadow: 0px 0px 5px  white;
}

element.style {
    color: #f56c6c;
}

::placeholder{
    color: black;
}

.comment-wrapper{
    display: flex;
    flex-direction: column;
}

.Post_content{
    color: white;
    font-size: 1.2rem;
}