
*{
    font-family: "Poppins";
    color: black;
}

body{
    margin-top: 14vh;
    display: flex;
    background-color: var(--color-light);
    justify-content: center;
    justify-content: space-evenly;
    
}
.left{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    height:max-content;
    width: max-content;
    border-radius: 20px;
    background-color: var(--color-grey);
    
}
.profile-image img{
    height: 30vh;
    width : 30vh;
    border-radius: 50%;
}
.update-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.input-container {
    height: 2.5rem;
    background-color: white;
    margin: 1rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.input-container input {
    margin-left: 2rem;
    width: 100%;
}

.button-container{
    height: 2rem;
    background-color: white;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--btn-paddding);
    font-weight: 500;
    border-radius: var(---border-radius);
    transition: all 300ms ease;
    font-size: 0.9rem;
    background: var(--color-primary);
    color: var(--color-white);
}

.button-container input{
    background: var(--color-primary);
}

.update-form-container input{
    border: none;
    align-items: center;
}

