

.createCopy {
  display: none; 
}

body {
  background-color: #F7F7F7; 
}



.form {
  background-color: white;
  margin:  2vh 10vw 8vh 10vw;
  height: 65vh;
  display: flex;
  padding: 3vw; 

}

.right {
  display: flex;
  flex-direction: column;
  width: 50%; }

.left {
  margin-top: 50px;
  width: 50%;
  align-content: center;
  margin-right: 10px; }

.left img {
  height: 25vmax; }

.create {
  text-decoration: none;
  align-content: center;
  justify-content: center;
  display: flex;
  font-size: 1.1rem; }

.inputbox input {
  border: none;
  height: 10vh;
  width: 100%;
  margin-top: 1vh;
  font-size: 1.2rem;
  padding-left: 2vw; }

.inputbox input:hover {
  border: grey solid 2px; }

.inputbox {
  margin-bottom: 30px;
  width: 80%; }

h1 {
  font-weight: 900;
  margin-bottom: 6vh; }

.loginBtn input {
  background-color: #007AFF;
  border: none;
  color: white;
  height: 7vh; }

.loginBtn {
  background-color: #007AFF;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 3px;
  width: 28vw;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: auto; }

@media (max-width: 750px) {
  .form {
    height: calc(100vh - 150px); }
  .right {
    width: 100%;
    margin: calc(100vh-50px);
    justify-content: center;
    align-items: center; }
  .inputbox input {
    border: none;
    height: 10vh;
    width: 100%;
    margin-top: 1vh;
    font-size: 1.2rem; }
  .left {
    display: none; }
  .createCopy {
    display: block;
    text-decoration: none;
    align-content: center;
    justify-content: center;
    display: flex;
    font-size: 1.1rem; } }
