@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,100&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  color: white;
}


.createCopy {
  display: none;
}

body{
  background-color: #2c4766;
}

.form {
  margin: 2vh 10vw 0vh 10vw;
  height: calc(100vh-100px);
  display: flex;
  padding: 2vw;
  box-shadow: 0px 0px 30px white;
}

.left {
  margin-top: 50px;
  width: 50%;
  align-content: center;
  margin-right: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.left img {
  height: 25vmax;
  margin-left: 5vw;
}

.inputbox input {
  border: none;
  height: 5vh;
  width: 100%;
  margin-top: 1vh;
  font-size: 1.2rem;
  padding-left: 2vw;
  color: white;
  background-color: #2c4766;
}

.inputbox:hover{
  border: 0px 0px 10px white;
}


.inputbox input:hover {
  border: grey solid 2px;
}

.inputbox {
  margin-bottom: 30px;
  width: 80%;
}

h1 {
  font-weight: 900;
  margin-bottom: 6vh;
  color: #0ef;
}

.create {
  text-decoration: none;
  align-content: center;
  justify-content: center;
  display: flex;
  font-size: 1.3rem;
  margin-top: 6vh;
  color: white;
}

.loginBtn input {
  background-color: #007AFF;
  border: none;
  color: white;
  height: 5vh;
}

.loginBtn {
  background-color: #007AFF;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 3px;
  width: 28vw;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: auto;
  color: white;
  font-size: 2vmin;
}
::placeholder{
  color: white;
}
.right i{
  color: white;
}
.left a{
  color: white;
  text-decoration: none;
}

@media (max-width: 750px) {
  .form {
    height: calc(100vh - 85px);
  }

  .right {
    width: 100%;
    margin: calc(100vh-50px);
    justify-content: center;
    align-items: center;
  }

  .inputbox input {
    border: none;
    height: 7vh;
    width: 100%;
    margin-top: 1vh;
    font-size: 1.2rem;
  }

  .left {
    display: none;
  }
  

  .createCopy {
    display: block;
    text-decoration: none;
    align-content: center;
    justify-content: center;
    display: flex;
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
}