<!-- reset_password.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>

<body>
    <h1>Password Reset</h1>
    <p>You've requested to reset your password. Please click the button below to reset your password:</p>
    <a href="<%= url %>"
        style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none;">Reset
        Password</a>
    <p>If you didn't request a password reset, you can ignore this email.</p>
</body>

</html>